*
  box-sizing: border-box
body
  font-family: Lato, sans-serif
  font-weight: normal
  font-style: normal
  background-color: #EDEFF0
  @include _767
    padding-top: 75px
.container
  max-width: 1140px
  margin: auto
  @include _1200
    max-width: 960px
  @include _992
    max-width: 700px
  @include _767
    max-width: 90%
  @include _576
    max-width: 87.5%
button
  cursor: pointer
.button-arrow
  display: inline-flex
  padding: 10px 20px
  background-color: $blue-btn
  border-radius: 20px
  @include bonone
  &__read
    margin-right: 5px
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
    color: $light
  &__arrow-icon
    width: 20px
    height: 20px
img
  width: 100%
