*
  box-sizing: border-box
body
  font-family: Lato, sans-serif
  font-weight: normal
  font-style: normal
  background-color: #fff
  @include _767
    padding-top: 75px
.container
  max-width: 1140px
  margin: auto
  @include _1200
    max-width: 960px
  @include _992
    max-width: 700px
  @include _767
    max-width: 90%
  @include _576
    max-width: 87.5%
img
  width: 100%
button
  cursor: pointer
label.invalid
  position: absolute
  left: 3px
  top: calc(100% + 3px)
  color: #FF4F52
  font-size: 14px
  @include _767
    top: unset
    bottom: calc(100% + 3px)
label.invalid-message
  position: absolute
  right: 3px
  color: #FF4F52
  font-size: 14px
  bottom: calc(100% + 1px)
.bookmark
  fill: #BCBFC2
  cursor: pointer
  transition: .5s
  &--active
    fill: #FF4F52
.text-container
  max-width: 620px
  margin-left: 97px
  @include _1200
    margin-left: 5px
  @include _767
    margin-left: 0
    max-width: 100%

.paragraph-text
  margin-top: 0
  margin-bottom: 30px
  font-size: 18px
  line-height: 30px
  color: #4B5157
  &--mb-0
    margin-bottom: 0
  @include _576
    font-size: 16px
.stats
  display: flex
  align-items: center
  &__comments
    display: flex
    align-items: center
  &__views
    display: flex
    align-items: center
    margin-right: 10px
  &__icon
    margin-right: 5px
    width: 15px
    height: 15px
  &__count
    font-size: 12px
    line-height: 15px
    color: #939699
.button-arrow
  position: relative
  z-index: 1
  display: inline-flex
  padding: 10px 20px
  background-color: $blue-btn
  border-radius: 20px
  color: $light
  overflow: hidden
  @include bonone
  &__read
    margin-right: 5px
    font-style: normal
    font-weight: 900
    font-size: 14px
    line-height: 20px
  &__arrow-icon
    width: 20px
    height: 20px
  &::before
    content: ''
    z-index: -1
    background-color: rgba(0, 0, 0, 0)
    transition: 0.35s
    @include absolute-full
  @include smart-hover
    &:hover
      &::before
        background-color: rgba(0, 0, 0, 0.09)
